<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://cambridge.runasp.net/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>8ea7e56f-45e7-a13b-7582-29ab1b0802c2</ProjectGuid>
    <MSDeployServiceURL>site80118.siteasp.net</MSDeployServiceURL>
    <DeployIisAppPath>site80118</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>false</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>site80118</UserName>
    <Password>Q!f3=4Sxb-8L</Password>
    <_SavePWD>true</_SavePWD>
    <TargetFramework>net10.0</TargetFramework>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>
